// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
.pdf {
  transform: scale(0.8);
  transform-origin: 0 0;
  margin: 0 -25% 0 0;
}
